
*{
  margin: 0;
  padding: 0;
}

.allbtn{
  display: grid;
  grid-template-columns: 100px 100px 100px 100px ;
   grid-gap: 10px;
  justify-content: space-around;
} 


@media screen and (min-width: 370px) {
}
@media screen and (min-width: 720px) {
}