/* button{
    color: white;
    background-color: skyblue;
    border: none;
    width: 50vh;
    /* border-radius: 0px 2px 0px 2px; */
/* } */ 
*{
  margin: 0;
  padding: 0;
  background-color: antiquewhite;

}
.Button{
  display: flex;
  justify-content: space-evenly;
}
.buttonStyle{
  background-color: skyblue;
  display: flex;
  align-items: end;
}
@media screen and (min-width: 370px) {
  .Button{
    display: flex;
    justify-content: space-around;

  }


}
@media screen and (min-width: 720px) {
  .Button{
    display: flex;
    justify-content: space-around;
  }
}